.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;

}


h1{
  font-family: 'Blinker', sans-serif;
}

h2{
  font-family: 'Blinker', sans-serif;
}

h3{
  font-family: 'Blinker', sans-serif;
}

p{
  font-family: 'Jura', sans-serif;
}

li{
  font-family: 'Jura', sans-serif;
}

a{
  font-family: 'Jura', sans-serif;
}

a:visited {
  color: rgb(44, 7, 6);
  
}

a:hover{
  color:#9e3617;
  
  
}

img {
  border-radius: 5%;
}

.App-header {
  background-color: #ffd025;
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row;
  /* align-items: stretch; */
  justify-content: space-around;
  font-size: calc(5px + 2vmin);
  color: rgb(65, 4, 1);
  padding-left: 5%;
  padding-right: 5%;
  height: 10%;
  width: 100%;
  border-bottom: solid 2px #341212;
  background-image: url("https://i.imgur.com/LafWRR6.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 5% 490%;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  /* padding-right: 5%; */
  width: 25%;
}

.header-link {
  padding-left: 5%;
  padding-right: 5%;
}



.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* width: 70%; */
  
  padding-left: 20%;
  padding-right: 20%;


}

.about-me {
  text-align: justify;
  padding: 20px;
  /* border: solid; */
  /* width: 60%; */
  /* font-size: calc(5px + 2vmin); */
  /* border-bottom: 2px solid #341212; */
  /* box-shadow: 10px 10px #ffd739 ; */
  background-color: rgb(243, 253, 255);
  color: #341212;
  /* max-width: 20em; */
  min-width: 20em;
}

.profile-picture {
  max-width: 20em;
  min-width: 20em;
  height: auto;
  /* border: solid 5px #541313; */
  box-shadow: -5px 5px 10px #78c2c6;
}

.project {

  background-color: rgb(243, 253, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-size: 75%;
  padding-left: 20%;
  padding-right: 20%;


}

.project-single {
  background-color: rgb(243, 253, 255);
  border: solid 2px #541313;
  border-radius: 5%;
  display: flex;

  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 50%;
  
}



.project-picture {
  display: flex;

  align-items: center;
  width: 75%;
  height: auto;

}

.resume {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
  padding: 20px;
  background: rgb(243, 253, 255);
  padding-left: 20%;
  padding-right: 20%;
}

.footer {
  background-color: #ffd025;
  min-height: 7vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(px + 2vmin);
  color: rgb(71, 12, 10);
  position: relative;
 bottom:0;
 left:0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  border-top: solid 2px rgb(71, 12, 10);
}

.footer-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* padding-right: 5%; */
  width: 20%;
  
}

.social-link{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding-right: 15%; */
  
}

.social-icon{
  max-width: 40px;
  height: auto;
  /* padding-left: 20%; */
  
  
}



@media only screen and (max-width: 800px) {
.App-header {
  /* background-color: #ffd025; */
  /* min-height: 10vh; */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: rgb(65, 4, 1);
  padding-left: 5%;
  padding-right: 5%;
  height: 10%;
  width: 100%;
  border-bottom: solid 2px #341212;
  background-image: url("https://i.imgur.com/LafWRR6.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 5% 490%;
}

  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 70%; */
    padding: 5%;
    
  }

  .profile-picture {
    max-width: 40em;
    min-width: em;
    height: auto;
    box-shadow: -5px 5px 10px #78c2c6;
    margin-bottom: 20px;
  }

  .about-me {
    text-align: justify;

    /* border: solid; */
    /* width: 60%; */
    
    /* border-bottom: 2px solid #341212; */

    background-color: rgb(243, 253, 255);
    color: #341212;
  }

  .project {
    background-color: rgb(243, 253, 255);
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    font-size: .75em;
  }

  .project-single {
    background-color: rgb(243, 253, 255);
    border: solid 2px #541313;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    
    /* width: 50%; */


  }

  .project-picture {
    width: 50%;
    height: auto;

  }

  .resume {
    display: flex;
    flex-direction: column;
    
    padding: 5%;
    background: rgb(243, 253, 255)
  }

  .footer {
    /* background-color: rgb(255, 238, 128); */
    position: relative;
    min-height: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    padding-bottom: 5px;
   border-top:solid 2px
  }

  .footer-right{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    
  }

}